
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Scheherazade);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(http://fonts.googleapis.com/css?family=Abel);

/*Eric Meyers Reset*/

html, body, div,
h1, h2, h3, h5, p,
a, article, footer, header, nav, section,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

/* Paragraph base style from original main.css file*/

p {
  font-family: Scheherazade;
  font-size: 24px;
  color: #5D5D5D;
}


