@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Roboto:900);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Scheherazade);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* set border margin*/
body{
  margin: 2em 6em;
  width:900px;
}

/*logo styling*/

.logoStyleOne{
font-family: Yellowtail;
font-size: 40px;
float:left;
}

.logoStyleTwo{
  font-family:Open Sans Condensed;
  font-size:12px;
}

.logoText{
  float:right;
}
.logo{
  float:left;
  margin-top:7px;
  margin-left:7px;
}

/*nav styling*/
ul li {
  display:inline;
  float:right;
  padding:1px;
  text-align: center;
}

.nav{
  margin:0 auto;
  text-align:center;
}

ul li:nth-child(2){
  padding-left:10px;
}

.border{
  margin-top:3em;
  height:14px;
  background-image:url("http://i.imgur.com/DtVTMkX.png");
  clear:both;
}

/*article styling*/
article{
margin-top: 3em;
}

.recipeHeader{
  color: #252525;
  font-family:Oswald;
  font-size:35px;
}

.postDate{
  font-family:Open Sans Condensed;
  color:#BBBABA;
  font-size:15px;
  margin-top:8px;
  margin-bottom:;

}

.printButton{
  float:right;
  border:none;
  background-color:white;
  font-family: Open Sans Condensed;
  font-size:14px;
  color:#BBBABA;

}

.pizzaPhoto{
  margin:2em 0em;
}

p{
  padding: .5em 0em;
  font-size:24px;
  font-family:Scheherazade;
  color:#5D5D5D;
  text-indent:1em;

}

.ingredients{
  background-image:url('http://i.imgur.com/lP0MYsj.png');
  height:300px;
  background-repeat: none;
  margin: 1em;
}


/*about the author*/

.about{
  margin-top: 1.5em;
}

vanessaPic{
  display: inline-block;
  float:left;

}

.aboutText{
display: block;
float:left;
font-family: Scheherazade;
}

.author{
  clear:both;
}

.share{
  float:right;
  color:white;
  background-color:orange;
  padding:1em 2em;
  margin-left: 2em;
  background-color: #BC6547;
  border:none;
  font-family: Open Sans Condensed;
  font-size:16px;
}

/*footer */

footer{
  margin-top:7em;
  border-top: thin solid;
  border-color: #DEDEDE;

}

img.footerLogo{
  margin-top:-5px;
  display:block;
  margin: -1em auto;
  padding:.5;
}

.footerFont{
  margin:3em 1px 5px 1px;
  text-align:center;
  padding:5px;
  color:#BBBABA;
}
.footerText{
  padding:3px;
}

/*style the grid at 960 normcore mcsweeneys ughas*/
